{% extends 'base.html' %}
        
<!-- CONGRATULATIONS SECTION -->
{% block congratulations %}
    <section id="congratulations" class="light-bg">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h3>CONGRATULATIONS</h3>
                    <p>You have just connected Justletic to your Strava account. This is the first step towards achieving your goals!</p>
            </div>
        </div>
    </section>
        
    <!-- KEY FIGURES SECTION -->
    <section class="dark-bg short-section">
        <div class="container text-center">
            <h2>Show off a little bit of how much Justletic knows even at this point</h2>
            <h4>You ran {{ last_activity_distance|floatformat:2 }} Km. in your last run</h4>
        </div> <!-- .container -->
    </section> <!-- KEY FIGURES SECTION -->
{% endblock %}
