{% extends '__hero_page.html' %}

{% block hero_section %}
    <div class="intro-text">
        <div class="intro-heading">Achieve your goals</div>
        <div class="intro-lead-in">Connect your Strava account and start today</div>

        <form method="POST" action='{% url 'create_new_strava_user' %}' novalidate>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary ">Get me started</button>
        </form>
    </div> <!-- .intro-text -->
{% endblock %}
