<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="C-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Justletic</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
              <h1>Justletic</h1>
              {% block email_text %}{% endblock %}
              {% block email_form %}{% endblock %}
            </div> <!-- text-center -->
          </div> <!-- col-md-6 col-md-offset-3 -->
        </div> <!-- row -->
        
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              {% block table %}{% endblock %}
          </div> <!-- col-md-6 col-md-offset-3 -->
        </div> <!-- row --> 
      
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              {% block additional_services %}{% endblock %}
          </div> <!-- col-md-6 col-md-offset-3 -->
        </div> <!-- row --> 
      
      </div> <!-- container -->
    </body>
</html>
